*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.outer{
    width:100%;
    max-width: 1200px;
    padding: auto;
    height:400px;
    background:url(../picture/bootstrap.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    

   

    
}
header{
    background-color:palevioletred;
    padding:20px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
      flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
.logo img{
    width: 50px;
    height: 50px;

}
.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.navigation a{
    text-decoration: none;
    color:black;
    font-size: 20px;
    margin: 0 15px;
    text-transform: capitalize;
    font-weight:bold;
    

}
.navigation  #home{
    font-weight: bold;
    text-decoration: underline;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}


.buttons span{
    font-size: 25px;
    color:black;
    
} 
.buttons #Sign{
    background-color:darkblue;
    color:white;
    font-size: 18px;
    padding:15px;
    margin: 0 10px;

    border-radius: 10px;
    text-transform: capitalize;
} 
.buttons #Log{

    color:black;
    border:2px solid black;
    padding:15px;
    margin: 0 10px;
    font-size:18px;
    border-radius: 5px;
    text-transform: capitalize;

}
.inner{
    color:white;
    
    max-width: 800px;
    margin-top: 20px;
    border: 2px solid blue;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
    text-align: center;
    background-color: rgba(229, 220, 220, 0.5);
    border-radius: 5px;
   
}


 #search input{
    width:400px;
    padding:15px;
    font-size: 18px;
    border:none;
    border-radius: 22px;
    margin:20px;
    

}
#search .fa-solid{   
    position: relative;
    left:-60px;
    color:gray;
    font-size:22px;
    font-weight:bold;
}
#search span{
    position: relative;
    left:-70px;
    color:gray;
    font-size:30px;
    font-weight:bold;


}

.box{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:10px;
    

    padding:20px;

}
.box div{
    border: 2px solid black;
    padding:20px;
    text-align: center;
font-size: 20px;
color: black;
font-weight: bold;
}
@media (max-width: 768px){

    body{
        padding: 10px;
    }

    header{
        flex-direction: column;
        text-align: center;
    }

    .navigation a{
        margin: 10px;
        font-size: 18px;
    }

    .buttons{
        justify-content: center;
        flex-wrap: wrap;
    }

    .inner{
        width: 100%;
        margin-top: 10px;
    }

    #search input{
        font-size: 16px;
        padding: 12px;
    }
}
@media (max-width: 480px){

    .navigation a{
        display: block;
    }

    .buttons button{
        padding: 10px;
        font-size: 16px;
    }

    .box div{
        font-size: 18px;
    }
}



    
