*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.inner{
    width:100%;
    max-width: 1200px;
    
    background-color:grey;
    display :grid;
    grid-template-columns: repeat(3,1fr); ;
    gap: 40px;
    padding: 30px;

    
}
.logo h2{
    color:goldenrod;
    
    font-size: 30px;
    text-transform: uppercase;
}
.logo p{
    color:white;

    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10px;
}
.logo .email input[type="text"]{
    width: 80%;
    padding: 18px;
    font-size:12px;
    border-radius: 26px;
    border: none;
    margin-top: 20px;
    
    }
    .logo .email i{
        color:black;
        margin-left: -40px;
        border-radius: 50%;
        background-color: goldenrod;
        padding: 16px;

    }
    .company h2{
        color:goldenrod;
        
        font-size: 30px;
        text-transform: uppercase;
      
    }
    .company h3{
        color:white;

        font-size: 20px;
        text-transform: capitalize;
        margin-top: 10px;
    }
    .become-member h2{
        color:goldenrod;
        
        font-size: 30px;
        text-transform: uppercase;
      
    } 
    .become-member p{
        color:white;

        font-size: 20px;
        text-transform: capitalize;
        margin-top: 10px;
    }
    .become-member button{
        width: 50%;
        padding: 10px;
        font-size: 20px;
        border-radius: 26px;
          border: 2px solid #daa520;
        margin-top: 20px;
        background-color:#808080;
        color:goldenrod;
        }
